node_modules
.next
out
dist
build
coverage

.env
.env.local
.env.*.local

*.log
npm-debug.log*

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

next-env.d.ts
.tsbuildinfo

playwright-report
test-results

# datos sensibles
/seed-personal/
*.pem
*.key
